<%  include ../views/partial/header %>

<link rel="stylesheet" href="../stylesheets/2nd.css">
    <style>
        #form{
            height: 450px;
            width: 400px;
            padding: 25px;
            /* background-color: burlywood; */
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border: solid 2px white;
        }
        .input{
            height: 35px;
            width: 340px;
            padding: 5px;
            font-size: 20px;
            outline: none;
        }
        #submit{
            border-radius: 5px;
            outline: none;
            background-color: cornflowerblue;
            color: white;
        }
        #chat{
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #p12{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #nopost{
            margin-top: 250px;
            margin-left: 250px;
        }
    </style>
    <div id="container">
        <div id="main">
            <% if(data.post.length > 0){ %>
                <div id="posts">
                    <% data.post.forEach(function(elem){ %>
                        <div id="p1">
                            <div id="p1ctn">
                                <div id="p12">
                                    <img src="<%= data.profilepic %>" alt="">
                                <p id="profile"> <%= elem.user %></p>
                                </div>
                            <br>
                            <p id="profile">Location:- <%= elem.location %></p>
                            </div>
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M8 4h13v2H8V4zm-5-.5h3v3H3v-3zm0 7h3v3H3v-3zm0 7h3v3H3v-3zM8 11h13v2H8v-2zm0 7h13v2H8v-2z" fill="rgba(255,255,255,1)"/></svg></span>
                        </div>
                    <div id="p2">
                    <img src="<%= elem.imageurl%>" alt="">
                    </div>
                    <div id="p3">
                        <div id="lcs">
                        <a href="/likes/<%= elem._id %>"><svg id="svg1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z" fill="rgba(255,255,255,1)"/></svg>
                        <svg id="svg11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228z" fill="rgba(255,0,0,1)"/></svg></a>
                        <svg id="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7.291 20.824L2 22l1.176-5.291A9.956 9.956 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.956 9.956 0 0 1-4.709-1.176zm.29-2.113l.653.35A7.955 7.955 0 0 0 12 20a8 8 0 1 0-8-8c0 1.334.325 2.618.94 3.766l.349.653-.655 2.947 2.947-.655z" fill="rgba(255,255,255,1)"/></svg>
                        <svg id="svg3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="rgba(255,255,255,1)"/></svg>
                        </div>
                        <div id="bm">
                        <svg id="svg4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M5 2h14a1 1 0 0 1 1 1v19.143a.5.5 0 0 1-.766.424L12 18.03l-7.234 4.536A.5.5 0 0 1 4 22.143V3a1 1 0 0 1 1-1zm13 2H6v15.432l6-3.761 6 3.761V4z" fill="rgba(255,255,255,1)"/></svg>
                        </div>
                    </div>
                    <div id="p5">
                        Likes: <%= elem.likes.length %>
                    </div>
                    <div id="p4">
                        Caption:-<p id="caption"><%= elem.caption %></p>
                    </div>
                    <% }) %>
                </div>
            <% }else{ %>
                <h1 id="nopost">No post created</h1>
            <% } %>
        </div>
        <div id="chat">
        <form id="form" action="/createpost" method="post">
            Caption:-<input class="input" type="text" name="caption" placeholder="Caption"><br>
            Location:-<input class="input" type="text" name="location" placeholder="Location"><br>
            Image Url:-<input class="input" required type="text" name="imageurl" placeholder="ImageUrl"><br>
            <input id="submit" type="submit" value="Post">
        </form>
    </div>
    </div>
    <script src="../javascripts/script.js"></script>
</body>
</html>